@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #EDB200;
    --secondary: #EFDC13;
    --light: #ffe44b;
    --complementory: #003bed;
    --danger: #ed3b00;
    --success: #00c500;
    --background: #f4f4f4;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
    color: var(--primary);
}


@media (min-width:992px) {
    .container {
        margin-top: 8vh;
        padding-left: 30vw;
        padding-right: 30vw;
    }

    .form {
        padding: 5vh 3vw 8vh 3vw;
    }
}

@media (min-width:576px) and (max-width:991px) {
    .container {
        margin-top: 8vh;
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .form {
        padding: 5vh 5vw 8vh 3vw;

    }
}

@media (max-width:575px) {
    .container {
        margin-top: 8vh;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .form {
        padding: 5vh 7vw 8vh 3vw;
    }
}


.form {
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 5px 5px 5px #777777;
}

.mt {
    margin-top: 3vh;
}

input {
    font-size: 1.2em;
}

label {
    font-size: 1.1em;
}

input {
    width: 100%;
    padding: 8px;
    background-color: #003bed17;
    border: 0;
}

input[type="submit"] {
    background-color: var(--primary);
    border: 0;
    width: 103%;
    padding: 8px;
}

input:focus,
input:active,
input::marker {
    outline-color: var(--primary);
    outline-offset: 2px 5px 2px;
}

input[type="submit"]:hover {
    background-color: var(--secondary);
}

input[type="submit"]:hover,
input[type="submit"] {
    color: black;
}

.helper {
    color: var(--success)
}

.imp {
    color: var(--danger);
}